/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/templates/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  position: fixed;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
    width: 40vh;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

 .social_media{
  display: flex;
  margin-top: -16em;
  /* position: fixed; */
  margin-left: 1em;
}
 .social_media a{
 
  display: block;
  width: 36px;
  background: #fff;
  height: 40px;
  line-height: 39px;
  text-align: center;
  margin: 15px 6px;
  color: #bdb8d7;
  border-radius: 5px;
}
#newtop{
  width: 40%;
}
#socialn{
  list-style: none;
  margin-left: 1em;
  margin-top: 18em;
}
#newtopdash{
  width: 4%;
  position: absolute;
  margin-left: 0.9em;
  margin-top: 1em;
}
#news{
  width: 10%;
  position: absolute;
  margin-left: -2em;
  }
  .list-groupplace{
    padding-left: 4em;
    padding-top: 1em;
    
  }
  /*-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;*/
    #test-card{
     width: 20%;
    }
    
    .wider{
      margin-bottom: 20px;
    }
    #cancel_loop{
      height: 19vh;
      object-position: center center;
    }
    /* [RegistrationInfo]
    http://127.0.0.1:15661/?code=6fd904fb-9334-4438-bd8b-90aafaae719d
ValidationData3=1 */