body{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.top-nav-bar{
    height: 57px;
    top: 0;
    position: sticky;
    margin: 5px;
    background: #fff;
    margin-bottom: 20px; 
    border-bottom: 3px solid #ccc;
    z-index: 2;
}
.navbar-expand-sm {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: space-between;
}
#hdf{
    color: tomato;
}

.margin{
  
}
.lotir{
    color: black;
}
.separate{
    background: aliceblue;
    width: 0.5%;
    height: 2vh;
    position: absolute;
    margin-top: -25px;
}


.separate02{
    background: radial-gradient(black, transparent);
    width: 0.5%;
    height: 6.5vh;
    margin-left: 165px;
    position: absolute;
    margin-top: -34px;
}
.gift{
    padding-left: 3.7em;
    margin-left: 39px;
}
.links{
    color: white!important;
}
.bd-example{
    margin-top: 2em;
}
ba{
color: #fff;
text-decoration: none;
background-color: transparent;
}

.g-dark {
    height: 5vh;
    padding-left: 3.7em;
}
.top-nav-bar2{
    height: 57px;
    top: 0;
    position: sticky;
    margin: 5px;
    background: #fff;
    margin-bottom: 20px; 
    border-bottom: 3px solid #ccc;
    z-index: 2;

}
.logo{
    height: 40px;
    margin: 5px 10px;
}
.form-controlc{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid #ccc !important;
    border-top-left-radius: 20px !important;
    font-weight: lighter;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    box-shadow: none !important;
    border-bottom-right-radius: 0px !important;
}
.second{
    margin-left: 11.5em;
    margin-top: 2em;
    display: flex;
    justify-content: flex-start;
}
.Apropos{
    margin-left: -1.8em;
}
#market{
    width: 27%;
    position: absolute;
    margin-left: -68px;
    margin-top: -8px;
}
.input-group-text{
    background-color: #17a2b8!important;
    border: 1px solid #ccc;
    margin: 8.8px 11px 20px -1px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    cursor: pointer;
    border-bottom-right-radius: 20px !important;
}
.home{
    list-style: none;
    margin-top: 1.5em;
    text-decoration: none;
}
.infofoot{
    margin-left: -4px;
}
.logofoot{
    margin-left: 7em;
}
#marketplace{
    width: 30%;
  
}
.infolist{
    list-style: none;
}
#googleplay{
    width: 47%;
    border-radius: 0.75em;
    margin-left: 1.28em;
}
.footback
{
    background: linear-gradient(45deg, black, transparent);
}
.download{
    margin-left: 4em;
}

.footer2{
   
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
}
 #cont:hover{
    color: #17a2b8!important;
    text-decoration: none;
   
}
.accessoires{
    margin-top: 2em;
    background: #17a2b8!important;
    height: 7vh;
}
.listtype{
    margin-left: -15px;
}
.grouping{
    list-style: none;
}
.grp1{
    display: inline-block;
    padding-left: 5.36em;
    padding-top: 10px;
    color: white;
}
#cont{
    color: black;
    text-transform: uppercase;

}
.list{
    display: inline-block;
    padding-left: 1.45em;
}

.search-box{
    display: inline-flex;
    width: 47%;
    padding-left: 2em;
}
.fa-search{
    color: #fff;
} 
.menu-bar {
    width: 40%;
    height: 57px ;
float: right;
}
.menu-bar2 {
    width: 40%;
    height: 57px ;
float: right;
}
.menu-bar ul  {
display: inline-block;
    text-align: center;
    background-color:#ccc;
    cursor: pointer;
}
.aide{
    border-left: 1px solid #ccc;
    list-style-type: none;
    text-align: center;
    background-color:#ccc;
    cursor: pointer;
    padding: 15px 35px;
}

.menu-bar ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none; 
}
.menu-bar2 ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none; 
}
/* #slidertapping{
    width: 20%;
} */
 .slidering{
     width: 50%;
     margin: 100px auto;
 }
.slick-slide{
    margin: 0px 20px;
}
.slick-slide img{
    width: 100%;
}
.slick-prev:before,
.slick-next-before{
    color: black;
}
#slick-prev{

}
.slick-slide{
    transition: all ease-in-out .3s;
   
}
.mySlides {display: none;}
img {vertical-align: center;}


.slideshow-container {
    text-align: center;
    margin-top: 2em;
    padding-left: 7em;
    padding-right: 5em;
   
}
    
    

#shopnow{
    text-decoration: none;
    color: white;
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 160px 0px;
    position: absolute;
    bottom: -17px;
    margin-left: -19em;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
#banner{
    border-radius: 1em;
}
.categorie{
    color: black;
}
.store{
    /* width: 18em; */
   
    
    
}
.horse{
    position: relative;
    overflow: hidden;
}
.horse1{
    position: relative;
    overflow: hidden;
}

.horse:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 220%;
    background: #17a2b8!important;
    top: -50%;
    opacity: 0.55;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: .5s;
}
.evenemnt{
    color: white;
}
.cardevenement{
    background: white;
   

}
#dimensionarrow{
    position: absolute;
    width: 37%;
    margin-left: 5em;
    top: -0.2em;
}
.showall1{
    display: flex;
    margin-top: 2em;
    list-style: none;
    margin-left: -2em;
    justify-content: space-between;
}
.SHOWALL{
    margin-left: 70em;
    position: absolute;
}
#navigate{
    width: 117%;
}
#navigateoffres{
    width: 270%;
}
#navigate2{
    width: 16%;
}
.event{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
.separator{
    width: 83%;
    height: 0.25vh;
    background: #ccc;
    margin-left: 8em;
    margin-top: 2em;
    opacity: 0.3;
}
.horse1:before{
    position: absolute;
    content: '';
    height: 220%;
    width: 111%;
    background: #17a2b8!important;
    top: -50%;
    opacity: 0.35;
    left: -100%;
    z-index: 1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: .5s;

}
.horse:hover:before{
    left: 10%;
}
.horse1:hover:before{
    left: 10%;
}
.likes{
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: -100%;
    color: #fff;
    left:0;
    z-index: 2;
    transition: 1.1s;
}
.likes2{
    width: 100%;
    position: absolute;
    top: -100%;
    color: #fff;
    left: 7px;
    z-index: 2;
    transition: 1.1s;
    padding: 0em;
}
.horse:hover .likes{
    top: 80px;
}
.horse1:hover .likes2{
    top: 80px;
}
.article{
    color: #17a2b8!important;
    font-weight: 700;
}
.article_date{
    color: black;
    font-weight: 500;
}
.article_dates{
    color: black;
    
}
.price{
    font-weight: 700;
    color: dimgrey;
}
.list-categorie{
    background: white;
}
#first_image{
    height: 29vh;
    width: 100%;
    object-fit: contain;
    object-position: center center;
    margin-top: -27px
}
#first_imageevent{
    height: 29vh;
    object-fit: contain;
    object-position: center center;
    margin-top: -27px;
}
.newitem{
    width: 0.35%;
    height: 27.5px;
    background: #17a2b8!important;
    border-radius: 2em;
    position: absolute;
    margin-left: -10px;
    margin-top: 5px; 
    z-index: 4;
}
.newitemcat{
    width: 2.4%;
    height: 30.5px;
    background: #17a2b8!important;
    border-radius: 2em;
    position: absolute;
    margin-left: 1em;
    margin-top: -9px;
    z-index: 4;
    
}
.chevrecat{
    display: flex;
    background: #17a2b8!important;
    justify-content: space-between;
    padding-top: 0.7em;
}
.lineup{
    width: 0.1%;
    height: 2vh;
    margin-left: -0.8em;
    background: white;
    position: absolute;
    margin-top: -1.18em;
}
#nouveaute{
    color: white;
    text-align: center;
    margin-top: 8px;
    font-size: 9px;
}

#nouveautecat{
    color: white;
    text-align: center;
    margin-top: 8px;
    font-size: 9px;
}
#imag_fontcat{
    width: 62%;
    height: 36vh;
    margin-left: 17em;
    margin-right: 16em;
    border-radius: 9px;
}
#chevron_left{
    
    width: 27%;
}
#chevronxx{
    width: 27%;
}
#chevronx1{
    width: 27%;
}
#chevron_right{
   
    width: 27%;
}
.somme{
    list-style: none;
    margin-left: 5px;
}

.cardy{
       margin-top: -14px;
    margin-left: -3em;
}
.grpcaterogie{
    justify-content: space-evenly;
}
 .min {
   
    display: flex;
    margin-left: 7px;
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
    justify-content: space-around;
}
.minhot{
    display: flex;
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
    justify-content: space-around;
}
.recentproduits{
    padding-left: 0;
    padding-right: 0;
    margin-left: -3em;
    color: white;
    width: 67%;
    max-height: 111vh;
    
}
.recent2{
    
    color: white;
  
   
}
.confi{
    background: #17a2b8!important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.conficatre{
    background: #17a2b8!important;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.divide{

    margin-top: 2em;
    /* border: 1px solid lavender; */
    /* width: 69.9%; */
    /* position: relative; */
    border-radius: 0.35em;
    /* margin-left: 1em; */
    background: white;
}
.list-grp{
   
    width: 108%;
}
/* The dots/bullets/indicators */
.dot {
    height: 10px;
    width: 9px;
    margin: 4px 2px;
    background-color: #bbb;
    border-radius: 50%; 
    display: inline-block;
  
}
.animated{
    text-align: center;
    animation: zoomIn 1.3s ease-in;
}
@keyframes zoomIn{
    0%{
        transform: skew(53deg) translate(-500px);
    }
    100%{
        transform: skew(0deg);
    }
}
.zoom{
    text-align: center;
    animation: bounceInRight 1.3s ease-in;
}
@keyframes bounceInRight {
    0%{
        transform: skew(53deg) translate(-500px);
    }
    100%{
        transform: skew(0deg);
    }
}
.zoom1{
    text-align: center;
    animation: bounceInLeft 1.3s ease-in;
}
@keyframes bounceInLeft {
    0%{
        transform: skew(53deg) translate(-500px);
    }
    100%{
        transform: skew(0deg);
    }
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade_perso {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: 6.5s;
}

.but1{
border-radius: 29%;
    padding: 1em;
    background: #17a2b8!important;
    border: aliceblue;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px;}
}

.dividetopcat{
   
    padding-left: 6em;
    padding-right: 6em;
    /* margin-left: 8em; */
    /* background: white; */
  
}
.arroe{
    margin-right: -31px;
    margin-top: -2px;
}
#chevroncat{
    margin-left: -1em;
    width: 2.4%;
    position: absolute;
    margin-top: -0.2em;
}

#chevroncat2{
    margin-left: -3.5em;
    width: 2.4%;
    position: absolute;
    margin-top: -0.2em;
}
#chevroncatvue{
    margin-left: -1em;
    width: 2.4%;
    position: absolute;
    margin-top: -0.2em;
}

#chevroncat2vue{
    margin-left: -3.5em;
    width: 2.4%;
    position: absolute;
    margin-top: -0.2em;
}
.mincat{
    margin-top: 1em;
    margin-left: -2.7em;
    display: flex;
    margin-bottom: 3em;
    width: 100%;
}
.storecat{
    width: 12em;
    text-align: left;
    display: inline-block;
    margin-left: 16px;
    height: 40vh;
}
.elect{
    padding-left: 3em;
}
.reseau{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 1em;
}
.sociaux{
    width: 10%;
    margin-left: 1.5em;
}
.million{

    background: #17a2b8!important;
}
.linup{
    width: 83%;
    height: 0.25vh;
    background: #17a2b8!important;
    margin-left: 0.1em;
}
#faceicon{
    width: 20%;
}
.topcate{
    list-style: none;
    display: flex;
    margin-left: 22em;
}
.find1{
    margin-left: -26em
}
.find2{
    margin-left: -32em;
}
.find4{
    margin-left: -35em;
}
.company{
    display: flex;
    justify-content: stretch;
}

.Adresse{
    
    margin-top: 2em;
    
    border: 1px solid #f6f6f6;
    
    padding-top: 2em;
    width: 27%;
    border-radius: 0.4em;
    background: #f6f6f6;
}
#navigatenes{
    width: 16%;
}
.Adressest{
  
    margin-top: 2em;
    position: relative;
    border: 1px solid #f6f6f6;
    padding-left: 2em;
    padding-top: 2em;
    width: 27%;
    border-radius: 0.4em;
    background: #f6f6f6;
}
#streadmail{
    z-index: 1;
    width: 5%;
   
}
#streadresse1{
    z-index: 1;
    width: 3.5%;
    position: absolute;
    margin-top: -6px;
}
.confiden{
    padding-top: 1.5em;
  
}
.search-email{
    display: inline-flex;
    width: 123%;
    margin-top: 9px;
    
}
.search-news{
    display: inline-flex;
    width: 123%;
    margin-top: 9px;
    
}
.form-sendmail{
    margin-top: 9px;
    margin-left: 8px;
    padding-left: 1em;
    border: 1px solid #ccc !important;
    border-top-left-radius: 17px !important;
    font-weight: lighter;
    border-bottom-left-radius: 19px !important;
    border-top-right-radius: 0 !important;
    box-shadow: none !important;
    border-bottom-right-radius: 0px !important;
    height: 6vh;
    width: 62%;
}
.form-sendmaile{
    margin-top: 9px;
    margin-left: 8px;
    padding-left: 1em;
    border: 1px solid #ccc !important;
    border-top-left-radius: 17px !important;
    font-weight: lighter;
    border-bottom-left-radius: 19px !important;
    border-top-right-radius: 0 !important;
    box-shadow: none !important;
    border-bottom-right-radius: 0px !important;
    height: 6vh;
    width: 62%;
}
.input-group-email{
    background-color: #17a2b8!important;
    width: 6%;
    height: 6vh;
    border: 1px solid #ccc;
    margin: 8.8px 11px 20px -1px;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 18px !important;
    cursor: pointer;
    border-bottom-right-radius: 18px !important;
}
.emails-input-group{
    background-color: #17a2b8!important;
    width: 6%;
    height: 6vh;
    border: 1px solid #ccc;
    margin: 8.8px 11px 20px -1px;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 18px !important;
    cursor: pointer;
    border-bottom-right-radius: 18px !important;
}
.plane-fav{
    text-align: center;
    color: white;
    margin-left: 20px;
    margin-top: 13px;
}
.plane-favecon{
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-top: 11px;
}
.company2{
    display: flex;
    justify-content: stretch;
}
.adreesefindus{
    display: flex;
    
}
 .inner{
    overflow: hidden;
} 

.inner img {
    transition: all 0.65s ease-in;
}

.inner:hover img{
    transform: scale(1.5); 
} 
#resource_image{

}
#active2{
    background: white;
}
/* .carousel-item img{
    width: 100%;
    height: inherit;
    object-fit: contain;
} */
.rowtype{
     margin-left: 9.1em;
    margin-top: 2em;
    padding-left: 0em;
    padding-right: 0em;
}
.rowtype02{
    border: 1px solid aliceblue;
    padding-left: 0em;
    padding-right: 0em;
    border-radius: .5em;
    background: white;
    height: 85vh;
}
.littleimg{
    margin-top: 2em;
    position: relative;
}
.paced{
    width: 100%;
}
.circle-left{
    position: absolute;
    width: 16%;
    margin-left: 1px;  
    cursor: pointer;
    top: 29px;
}
.circle-right{
    position: absolute;
    width: 16%;
    margin-top: 27px;
    cursor: pointer;
    right: 14px;

}

.user2{
padding-top: 1em;
}
.unnamed{
    margin-left: -22px;
    position: absolute;
    width: 3%;
    margin-top: 4px;
}



.facetwitgmail{
    list-style: none;
}
.facetwitgmail1{
    list-style: circle;
}
.ajtfavoris{
    float: left;
    padding-left: 5.5em;
}
.facetweetg{
    width: 14%;
    float: left;
    margin-left: 10.5%;
}
.properdescrip{
    margin-top: 3em;
}
.efferstate{
    background: ghostwhite;
}
.autresinter{
    margin-top: 3em;
    padding-bottom: 3em;
}
.storecat02{
    width: 9.8em;
    text-align: left;
    display: inline-block;
    margin-left: -0.9em;
    height: 32vh;
}
#locat1{
    width: 100%;
    object-fit: contain;
    padding-bottom: 12px;
}
.protects{
    margin-right: em;
    
}
.navbar-collapse{
    /* margin-left: 2em; */ 
}
#colortem{
    color: white;
   
}
#Navtog{
    margin-left: 6em;
    color: white;
}
#protege{
    width: 3.5%;
    position: absolute;
    margin-left: 25px;
    margin-top: 12px;
}
.btm-default{
    border-color: turquoise;
}
.achetermalin{
    margin-left: 11em;
}
#flopsinp{
    max-width: 38.5%;
    padding-left: 0em;
}
.newarticles{
    margin-bottom: 1em;
    float: right;
}
#editing{
    width: 10%;
    margin-left: 9px;
}
#exampleInputEmail1{
    width: 60%;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}
#exampleFormControlFile1{
    margin-top: 8px;
}
#carddirection{
    width: 84%;
    padding: 2em;
    margin-left: 1em;
}
.stufcont{
    margin-left: 4em;
margin-top: 1em;
width: 93%;
border: 1px solid aliceblue;
padding: 3em;
border-radius: 0.5em;
background: white;
height: 84%;
text-align: center;
    
}
/* #f9f9f9 */
#labelstrong{
    display: inline-block;
    margin-bottom: .5rem;
    margin-left: 0.5em;
}

.lanol{
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    margin-right: 40px;
}
#haederimage{
    width: 7%;
}
#vuerecentes{
    width: 17%;
    margin-top: -5px;
    margin-left: 1em;
}
.srcharticle{
    display: flex;
}
.joinbutto_news{
    border: 1px solid white;
    padding: 8px;
    border-radius: 6px;
    color: white;
    margin-left: 2em;
    margin-right: 1em;
    max-width: fit-content;
    margin-top: -4px;
}

.rowtype{
    margin-left: 9.1em;
    margin-top: 3em;
    padding-left: 0em;
    padding-right: 0em;
}
.rowtype02{
    border: 1px solid aliceblue;
    padding-left: 0em;
    padding-right: 0em;
    border-radius: .5em;
    background: white;
    height: 85vh;
}
.littleimg{
    margin-top: 2em;
    position: relative;
}
.paced{
    width: 100%;
}
.circle-left{
    position: absolute;
    width: 16%;
    margin-left: 1px;  
    cursor: pointer;
    top: 29px;
}
.circle-right{
    position: absolute;
    width: 16%;
    margin-top: 27px;
    cursor: pointer;
    right: 14px;

}
.detailproduit{
    background: white;
    border: 1px solid aliceblue;
    /* width: 68%; */
    border-radius: 5px;
    /* margin-left: 11em; */
    margin-top: 3em;
    text-align: center;
}
.user2{
padding-top: 1em;
}
.unnamed{
    margin-left: -22px;
    position: absolute;
    width: 3%;
    margin-top: 4px;
}


.partagetwit{
    
    margin-top: 1.8em;
}
.facetwitgmail{
    list-style: none;
}
.facetwitgmail1{
    list-style: circle;
}
.ajtfavoris{
    float: left;
    padding-left: 5.5em;
}
.facetweetg{
    width: 14%;
    float: left;
    margin-left: 10.5%;
}
.properdescrip{
    margin-top: 3em;
}
.efferstate{
    background: ghostwhite;
}
.autresinter{
    margin-top: 3em;
    padding-bottom: 3em;
}
.storecat02{
    width: 9.8em;
    text-align: left;
    display: inline-block;
    margin-left: -0.9em;
    height: 32vh;
}
#locat1{
    width: 100%;
    object-fit: contain;
    padding-bottom: 12px;
}
.stability{
    margin-left: 8.5em;
    padding-left: 2em;
}
.rowstable{
    margin-top: 1.5em;
}
.downloadapp{
    margin-left: 3em;
}



.catconsec{
    list-style: none;
    display: contents;
}

.signlerrouge{
    position: relative;
    width: 4%;
}
.signlerrouger{
    position: absolute;
    width: 3%;
    margin-left: -28px;
    margin-top: -1px;
    /* margin-top: 0px; */
}
.signlerrougers{
    position: absolute;
    width: 3%;
    margin-left: -20px;
    margin-top: 4px;
    /* margin-top: 0px; */
    /* margin-top: 0px; */
}
#ignal{
    margin-left: 0.5em;
    color: lightcoral;
    font-weight: 600;
    position: absolute;
    margin-top: 1px;
}
#ignali{
    margin-left: 0.5em;
    color: #797896!important;
    font-weight: 600;
    position: absolute;
    margin-top: 1px;
}
#ignaler{
    
}
.notecomjaime{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}

  .prev-arrow{
    left: -40px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid white;
    background: #17a2b8!important;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    float: right;
    margin-top: -56px;
    margin-right: 77px;
  }
  .next-arrow{
    right: -40px;
    width: 0;
    /* position: absolute; */
    height: 0;
    border-right: 0 solid transparent;
    background: #17a2b8!important;
    border-left: 20px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    float: right;
    margin-right: 2%;
    margin-top: -239.7%;
  } 

  button{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  #slick_sop{
    display: flex !important;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #cancel_loop{

  }